RewriteEngine on
RewriteCond %{HTTP_HOST} ^lms-api.theadaproject.com.ng$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.lms-api.theadaproject.com.ng
RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) /public/$1 [L]